<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.gamer.mapper.GameInfoMapper">
    <resultMap id="GameInfoBsaeMap" type="GameInfo">
        <id property="gameInfoId" column="game_info_id"/>
        <result property="gameIntro" column="game_intro"/>
        <result property="gameAbout" column="game_about"/>
        <result property="gameStory" column="game_story"/>
        <result property="gameId" column="game_id"/>
    </resultMap>

</mapper>