<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.gamer.mapper.GameMapper">
  <resultMap id="BaseResultMap" type="com.qf.gamer.domain.entity.Game">
    <!--@mbg.generated-->
    <id column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="game_name" jdbcType="VARCHAR" property="gameName" />
    <result column="released_time" jdbcType="VARCHAR" property="releasedTime" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="game_publisher" jdbcType="VARCHAR" property="gamePublisher" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="is_off" jdbcType="INTEGER" property="isOff" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="is_use" jdbcType="INTEGER" property="isUse" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    game_name, released_time, category_id, game_publisher, score, price, is_off,
    discount, is_use, create_time
  </sql>

  <!-- 假删除 -->
  <update id="delete">
  update game set is_use = 1 where game_id = #{game_id}
  </update>



  <!-- 插入  -->
  <insert id="save" parameterType="Game" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="gameId">
      SELECT LAST_INSERT_ID()
    </selectKey>

    insert into game(
    game_name, released_time,
    category_id, game_publisher,
    price,score) values(#{gameName},
    #{releasedTime},
    #{categoryId},
    #{gamePublisher},
    #{price},
    #{score}
    )
  </insert>

</mapper>