<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.gamer.mapper.ReviewMapper">
    <resultMap id="ReviewBaseMap" type="Review">
        <id property="reviewId" column="review_id"/>
        <result property="gameId" column="game_id"/>
        <result property="reviewContent" column="review_content"/>
        <result property="isDelete" column="is_delete"/>
        <result property="uid" column="uid"/>
        <result property="releaseTime" column="release_time"/>
    </resultMap>

    <resultMap id="ReviewGameMap" type="com.qf.gamer.domain.vo.ReviewVo" extends="ReviewBaseMap">
        <collection property="users" resultMap="com.qf.gamer.mapper.UserMapper.UserBaseMap"/>
    </resultMap>

    <select id="findReview" resultMap="ReviewGameMap" >
        select r.review_id, r.review_content, r.game_id, r.release_time,
               u.user_name
        from review r left join user u on r.uid = u.uid
        where r.game_id =#{gameId} and r.is_delete=0
        order by r.release_time desc limit #{page},#{size}
    </select>


</mapper>