<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 关闭缓存 -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 决定驱动等待数据库响应的秒数 -->
        <setting name="defaultStatementTimeout" value="5"/>
        <!-- 自动驼峰命名规则映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启懒加载 -->
<!--        <setting name="lazyLoadingEnabled" value="false"/>-->
    </settings>

</configuration>